#label-list{
    display:flex;
    padding:2px;
    flex-direction: row;
}

#label-list .list-group-item{
    border-top-width: 1px;
    padding:3px 6px;
    width:fit-content;
    margin:10px;
    font-size: larger;
    border-radius: 2px;
}

.label-btn{
    margin-left: 5px;
}

